.flex-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    position: relative;
    
    padding: 0;
    
    background-color:#E01219;
    margin-top: -55px;
    
    :global {
        .ant-page-header-heading-title {
            // color: #fff;
        }
    }
}

.wrapper {
    padding-top: 220px;
    background: url(../../static/image/08b704e0-ae21-4829-8f1f-eb54d4dac3b0.png) no-repeat;
    background-size:  100%;
    background-position-y: 60px;

    :global {
        :where(.css-dev-only-do-not-override-16mnbme).ant-pro-page-container-children-container {
            padding: 18px;
        }
    }
}


.inner {
    padding: 20px;
    background: #fff;
    border-radius: 16px;

    // min-height: calc(100vh - 100px);
    width: 100%;
    
    // overflow: hidden;

    :global {
        .result-modal {
            .ant-modal-confirm-body {
                svg {
                    display: none !important;
                }
            }
            .anticon-info-circle {
                
            }
        }
        :where(.css-dev-only-do-not-override-txh9fw).ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-title +.ant-modal-confirm-content {
            max-width: 100%;
        }
    }
}

.result-modal {

}

.total-item {
    padding: 6px;
    // font-size: 16px;
}

.winner {
    color: red;
}

.loser {
    color: green;
}

.start-button {
    background: url(../../static/image/logo.gif) no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    // align-items: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    animation: startButton 0.6s linear infinite; /* 添加动画 */
}

@keyframes startButton {
    0% { left: 30%; }
    25% { left: 50%; }
    50% { left: 60%; }
    75% { left: 50%; }
    100% { left: 30%; }
}